* { margin: 0; padding: 0; }

body,html{
    width: 1200px;
    margin: auto;
}

section>nav{
    background-color: #2B2D42;
}
section>nav>a{
    color: lightgreen;
}

section>header{
    background-image: url("../images/header.jpg");
    height: 100px;
    color: white;
    font-size: 30px;

}
article{
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 0;
    background-color: lightgray;

}
article>header>h1 {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    color: #2B2D42;
}
